br
br
br
br
center
	.row
		.col-md-12 style= "font-size:20px; "
			h1 Welcome to Project CATNIP!
			center
				=image_tag "team.png",style: "width:90%;  margin:30px;"
.row
	.col-md-10.col-md-offset-1 style="font-size:16px; text-align:justify;"
		|Project CATNIP aims to make solving and understanding global optimization problems more accessable, more usable, and more accurate. The project currently focuses on the global optimization problems of euclidean tour optimization (Traveling Salesman), protein folding optimization, and multimetallic nanoparticle optimization. Users can dynamically input data and explore visual representations of calculated solutions in near real time using the unified front and backend web architecture. The project is open source and has been designed to allow more solvers to be easily added.
		br
		br
		|Project CATNIP was the brainchild of eleven members of the 
		a href="http://pgss.herokuapp.com/program_overview" Pennsylvania Governor's School for the Sciences 
		|Class of 2014. As rising high school seniors, we spent five weeks immersed in the sciences and mathematics at Carnegie Mellon University. Our experience included core courses in biological sciences, chemistry, physics, mathematics, and computer science, in addition to elective options. 

		center  style="margin-top:50px;"
			=image_tag "loadingscreen.png",style: "height:100px;"