br
br
br
br
center
	.row
		.col-md-12 style= "font-size:20px; "
			h1 Welcome to Project CATNIP!
			br
			center
				=image_tag "team.png",style: "width:90%;  margin:30px;"
.row
	.col-md-10.col-md-offset-1 style="font-size:16px; text-align:justify;"
		|Project CATNIP was the brainchild of 11 members of the Pennsylvania Governor's School for the Sciences Class of 2014. As rising high school seniors, we spent five weeks immersed in the sciences and mathematics at Carnegie Mellon University. Our experience included core courses in biological sciences, chemistry, physics, mathematics, and computer science, in addition to elective options. Each of us chose this project from 12 possibilities and became part of an endeavor like no other.

		center  style="margin-top:50px;"
			=image_tag "loadingscreen.png",style: "height:100px;"
	


			