br
br
br
br
br
center
	.row
		.col-md-6
			=image_tag("hoffman.jpg",style: "margin-top:-10px; margin-right:10px; width:400px;").html_safe
		.col-md-6 style="font-size:20px; "
			=image_tag("ducttape.jpg",style: "margin-top:-10px; margin-right:10px; width:600px;").html_safe