<%= form_for(@metalic) do |f| %>
  <% if @metalic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metalic.errors.count, "error") %> prohibited this metalic from being saved:</h2>

      <ul>
      <% @metalic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
