/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Raleway);

@font-face {
  font-family: 'BebasNeue';
  src: url('webfonts/bebasneue_regular_macroman/BebasNeue-webfont.eot');
  src: url('webfonts/bebasneue_regular_macroman/BebasNeue-webfont.eot?iefix') format("eot"), url('webfonts/bebasneue_regular_macroman/BebasNeue-webfont.woff') format("woff"), url('webfonts/bebasneue_regular_macroman/BebasNeue-webfont.ttf') format("truetype"), url('webfonts/bebasneue_regular_macroman/BebasNeue-webfont.svg#webfont') format("svg");
}

body{
  font-family: 'Raleway';
}

#no-border-radius{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.navbar-options{
  font-family: 'BebasNeue';
  font-size: 30px;
}
.navbar-fixed-top{
  background-color:rgb(255,255,255);
  
  a{
    color:rgb(167,167,167);
  }

  .active{
  	background-color:rgba(230,230,230,.7);
  	text-decoration: underline;
  }
}

.container{
	overflow:hidden;
}