// Place all the styles related to the proteins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#protein-canvas{
	border: thin solid black;
}

.content{
	overflow-x: hidden;
	width:100%;
}

.label.label-success.polar-button{
	display: inline-block;
	width: 175px;
	font-size: 12pt;
}

.label.label-danger.hydroph-button{
	display: inline-block;
	width: 175px;
	font-size: 12pt;
}