// Place all the styles related to the TravelingSalesmen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html,body{
	width:  100%;
  	height: 100%;
	margin: 0px;
}

.handle{
	height:15px;
	background-color:#99CCFF;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor:auto;
}

.handle:hover{
	cursor:pointer;
}

.floating{
	position:absolute;
	background-color:#FFFFFF;
	box-shadow: 0 0 30px black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:auto;

	.content{
		padding:10px;
	}
}

.floatingTools{
	left:10px;
	top:60px;
	height: calc(100% - 100px);
}
#floatingProgressBar{
	width:100%;
	position:absolute;
	bottom:0px;
	overflow:hidden;
}
#canvas{

}

#output{
	width:300px;
	overflow:auto;
}
#jobs{
	//height: calc(100% - 200px);
	overflow-y: auto;
	overflow-x:hidden;
}
.job{
	margin-right:20px;
	border-bottom-style:solid;

	h1{
			font-size:14px;
			text-align:center;
			font-weight: bold;
	}
}