br
br
br
br
/= javascript_include_tag 'protein', 'data-turbolinks-track' => true
input#data type="text" value="Data here"
select#algorithm name="algorithm"
				option Alg A
				option Alg B
input#submit_data type="button" value="Run Test" class="btn btn-success"
				input#cancel_solution type="button" value="Cancel" class="btn btn-danger"